@import './styles/variables';

.askOrderList {
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.bidOrderList {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.askOrderListEmpty, .bidOrderListEmpty {
  justify-content: center;
}

.emptyAsk {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  color: $primary-bg;
}

.emptyBid {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  color: $primary-bg;
}
