.askOrderList {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    height: 100%;
    overflow-y: scroll;
}

.bidOrderList {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}
