.askOrderList {
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.wrapAskOrderList {
  height: 92%;
}

.bidOrderList {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.wrapBidOrderList {
  height: 94%;
}
.emptyAsk {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  color: #999999;
}

.emptyBid {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  color: #999999;
}
