.action-name {
    font-size: 20px;
    color: rgb(136, 136, 141);
    margin-bottom: 15px;
}

.order-val-input {
    background-color: rgb(47, 46, 49);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-top: 6px;
    width: 90%;
    border: 1px solid grey;
    outline-color: rgb(194, 194, 194);
    margin-bottom: 2px;
}

.place-order-button {
    font-size: 20px;
    background-color: rgb(45, 46, 56);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    outline-color: rgb(194, 194, 194);
}

.market-limit-buttons {
    font-size: 14px;
    background-color: rgb(45, 46, 56);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    outline-color: transparent;
    margin-bottom: 15px;
}

.market-limit-buttons:disabled {
    background-color: rgb(84, 91, 175);
}

