#sign-in-modal {
    position: fixed;
    box-sizing: border-box;
    z-index: 200;
    top: calc(50% - 321px);
    left: 25%;
    width: 50%;
    padding: 40px;
    background-color: rgb(27, 27, 27);
    height: 642px;
    overflow-y: auto;
}

.sign-in-textarea {
    height: 46px;
    width: 100%;
    font-size: 20px;
    background-color: rgb(36, 35, 35);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    margin-bottom: 8px;
}

@media only screen and (max-width: 950px), only screen and (max-height: 700px) {
  #sign-in-modal {
    padding: 20px;
    border: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .sign-in-textarea {
    height: 70px;
  }

  .generated-wallet-address {
    display: inline-block;
    padding-top: 10px;
  }
}
