.cancel-order-button {
  font-size: 12px;
  background-color: rgb(45, 46, 56);
  color: white;
  float: right;
  margin-right: 5px;
  margin-top: 4px;
  border: 0;
  padding: 5px;
  outline: none;
  cursor: pointer;
}

.cancel-order-button:hover {
  text-decoration: underline;
}

.order-pending {
  opacity: 0.5;
}

.order-processing {
  opacity: 1;
}

.order-canceling {
  opacity: 1;
}

.order-matching {
  opacity: 1;
}
